apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    worker_processes 1;

    error_log /dev/stderr warn;
    pid /tmp/nginx.pid;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;
        #
        # server {
        #     listen 8080;
        #     server_name _;
        #
        #     root /var/www/html;
        #     index index.php;
        #
        #     # Container-friendly logging
        #     error_log /dev/stderr warn;
        #     access_log /dev/stdout;
        #
        #     location / {
        #         try_files $uri $uri/ /index.php$request_uri;
        #     }
        #
        #     location ~ \.php$ {
        #         include fastcgi_params;
        #         fastcgi_pass 127.0.0.1:9000;
        #         fastcgi_index index.php;
        #         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #     }
        # }
        #

        server {
            listen 8080;
            listen [::]:8080;
            server_name _;

            # Path to the root of your installation
            root /var/www/html;

            error_log /dev/stderr warn;
            access_log /dev/stdout;

            # set max upload size and increase upload timeout:
            client_max_body_size 522M;
            client_body_timeout 300s;
            fastcgi_buffers 64 4K;

            # Enable gzip but do not remove ETag headers
            gzip on;
            gzip_vary on;
            gzip_comp_level 4;
            gzip_min_length 256;
            gzip_proxied expired no-cache no-store private no_last_modified no_etag auth;
            gzip_types application/atom+xml text/javascript application/javascript application/json application/ld+json application/manifest+json application/rss+xml application/vnd.geo+json application/vnd.ms-fontobject application/wasm application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/bmp image/svg+xml image/x-icon text/cache-manifest text/css text/plain text/vcard text/vnd.rim.location.xloc text/vtt text/x-component text/x-cross-domain-policy;

            client_body_buffer_size 512k;

            # HTTP response headers borrowed from Nextcloud `.htaccess`
            add_header Referrer-Policy                   "no-referrer"       always;
            add_header X-Content-Type-Options            "nosniff"           always;
            add_header X-Frame-Options                   "SAMEORIGIN"        always;
            add_header X-Permitted-Cross-Domain-Policies "none"              always;
            add_header X-Robots-Tag                      "noindex, nofollow" always;

            # Remove X-Powered-By, which is an information leak
            fastcgi_hide_header X-Powered-By;

            # Set .mjs and .wasm MIME types
            # Either include it in the default mime.types list
            # and include that list explicitly or add the file extension
            # only for Nextcloud like below:
            include mime.types;
            types {
                text/javascript mjs;
                      application/wasm wasm;
            }

            index index.php index.html /index.php$request_uri;

            # Rule borrowed from `.htaccess` to handle Microsoft DAV clients
            location = / {
                if ( $http_user_agent ~ ^DavClnt ) {
                    return 302 /remote.php/webdav/$is_args$args;
                }
            }

            location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
            }

            location ^~ /.well-known {
                # The rules in this block are an adaptation of the rules
                # in `.htaccess` that concern `/.well-known`.

                location = /.well-known/carddav { return 301 /remote.php/dav/; }
                location = /.well-known/caldav  { return 301 /remote.php/dav/; }

                location /.well-known/acme-challenge    { try_files $uri $uri/ =404; }
                location /.well-known/pki-validation    { try_files $uri $uri/ =404; }

                # Let Nextcloud's API for `/.well-known` URIs handle all other
                # requests by passing them to the front-end controller.
                return 301 /index.php$request_uri;
            }

            # Rules borrowed from `.htaccess` to hide certain paths from clients
            location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)(?:$|/)  { return 404; }
            location ~ ^/(?:\.|autotest|occ|issue|indie|db_|console)                { return 404; }

            # Ensure this block, which passes PHP files to the PHP process, is above the blocks
            # which handle static assets (as seen below). If this block is not declared first,
            # then Nginx will encounter an infinite rewriting loop when it prepends `/index.php`
            # to the URI, resulting in a HTTP 500 error response.
            location ~ \.php(?:$|/) {
                # Required for legacy support
                rewrite ^/(?!index|remote|public|cron|core\/ajax\/update|status|ocs\/v[12]|updater\/.+|ocs-provider\/.+|.+\/richdocumentscode(_arm64)?\/proxy) /index.php$request_uri;

                fastcgi_split_path_info ^(.+?\.php)(/.*)$;
                set $path_info $fastcgi_path_info;

                try_files $fastcgi_script_name =404;

                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PATH_INFO $path_info;
                fastcgi_param HTTPS on;

                fastcgi_param modHeadersAvailable true;         # Avoid sending the security headers twice
                fastcgi_param front_controller_active true;     # Enable pretty urls
                fastcgi_pass 127.0.0.1:9000;

                fastcgi_intercept_errors on;
                fastcgi_request_buffering on;                   # Required as PHP-FPM does not support chunked transfer encoding and requires a valid ContentLength header.

                # PHP-FPM 504 response timeouts
                # Uncomment and increase these if facing timeout errors during large file uploads
                #fastcgi_read_timeout 60s;
                #fastcgi_send_timeout 60s;
                #fastcgi_connect_timeout 60s;

                fastcgi_max_temp_file_size 0;
            }

            # Serve static files
            location ~ \.(?:css|js|mjs|svg|gif|ico|jpg|png|webp|wasm|tflite|map|ogg|flac)$ {
                try_files $uri /index.php$request_uri;
                # HTTP response headers borrowed from Nextcloud `.htaccess`
                add_header Cache-Control                     "public, max-age=15778463";
                add_header Referrer-Policy                   "no-referrer"       always;
                add_header X-Content-Type-Options            "nosniff"           always;
                add_header X-Frame-Options                   "SAMEORIGIN"        always;
                add_header X-Permitted-Cross-Domain-Policies "none"              always;
                add_header X-Robots-Tag                      "noindex, nofollow" always;
                access_log off;     # Optional: Don't log access to assets
            }

            location ~ \.(otf|woff2?)$ {
                try_files $uri /index.php$request_uri;
                expires 7d;         # Cache-Control policy borrowed from `.htaccess`
                access_log off;     # Optional: Don't log access to assets
            }

            # Rule borrowed from `.htaccess`
            location /remote {
                return 301 /remote.php$request_uri;
            }

            location / {
                try_files $uri $uri/ /index.php$request_uri;
            }
        }
    }
  mime.types: |
    types {
        text/html                             html htm shtml;
        text/css                              css;
        text/xml                              xml;
        image/gif                             gif;
        image/jpeg                            jpeg jpg;
        application/javascript                js;
        application/atom+xml                  atom;
        application/rss+xml                   rss;
        text/mathml                           mml;
        text/plain                            txt;
        text/vnd.sun.j2me.app-descriptor      jad;
        text/vnd.wap.wml                       wml;
        text/x-component                       htc;
        image/png                              png;
        image/tiff                             tif tiff;
        image/vnd.wap.wbmp                     wbmp;
        image/x-icon                            ico;
        image/x-jng                             jng;
        image/x-ms-bmp                          bmp;
        image/svg+xml                           svg svgz;
        image/webp                              webp;
        application/font-woff                   woff;
        application/java-archive                jar war ear;
        application/json                        json;
        application/mac-binhex40                hqx;
        application/msword                       doc;
        application/pdf                          pdf;
        application/postscript                  ps eps ai;
        application/rtf                          rtf;
        application/vnd.ms-excel                 xls;
        application/vnd.ms-powerpoint            ppt;
        application/vnd.wap.wmlc                 wmlc;
        application/vnd.google-earth.kml+xml     kml;
        application/vnd.google-earth.kmz         kmz;
        application/x-7z-compressed              7z;
        application/x-cocoa                       cco;
        application/x-java-archive-diff           jardiff;
        application/x-java-jnlp-file              jnlp;
        application/x-makeself                    run;
        application/x-perl                        pl pm;
        application/x-pilot                       prc pdb;
        application/x-rar-compressed              rar;
        application/x-redhat-package-manager      rpm;
        application/x-sea                          sea;
        application/x-shockwave-flash             swf;
        application/x-stuffit                      sit;
        application/x-tcl                          tcl tk;
        application/x-x509-ca-cert                 der pem crt;
        application/x-xpinstall                    xpi;
        application/xhtml+xml                       xhtml;
        application/zip                             zip;
        application/octet-stream                    bin exe dll;
        application/octet-stream                    deb;
        application/octet-stream                    dmg;
        application/octet-stream                    eot;
        application/octet-stream                    iso img;
        application/octet-stream                    msi msp msm;
        audio/midi                                  mid midi kar;
        audio/mpeg                                  mp3;
        audio/ogg                                   ogg;
        audio/x-m4a                                 m4a;
        audio/x-realaudio                            ra;
        video/3gpp                                  3gpp 3gp;
        video/mp4                                   mp4;
        video/mpeg                                  mpeg mpg mpe;
        video/quicktime                             mov qt;
        video/webm                                  webm;
        video/x-flv                                 flv;
        video/x-m4v                                 m4v;
        video/x-ms-wmv                               wmv;
        video/x-msvideo                              avi;
    }
  fastcgi_params: |
    fastcgi_param  QUERY_STRING       $query_string;
    fastcgi_param  REQUEST_METHOD     $request_method;
    fastcgi_param  CONTENT_TYPE       $content_type;
    fastcgi_param  CONTENT_LENGTH     $content_length;
    fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;
    fastcgi_param  REQUEST_URI        $request_uri;
    fastcgi_param  DOCUMENT_URI       $document_uri;
    fastcgi_param  DOCUMENT_ROOT      $document_root;
    fastcgi_param  SERVER_PROTOCOL    $server_protocol;
    fastcgi_param  GATEWAY_INTERFACE  CGI/1.1;
    fastcgi_param  SERVER_SOFTWARE    nginx/$nginx_version;
    fastcgi_param  REMOTE_ADDR        $remote_addr;
    fastcgi_param  REMOTE_PORT        $remote_port;
    fastcgi_param  SERVER_ADDR        $server_addr;
    fastcgi_param  SERVER_PORT        $server_port;
    fastcgi_param  SERVER_NAME        $server_name;
    fastcgi_param  HTTPS              $https if_not_empty;
    fastcgi_param  REDIRECT_STATUS    200;

