apiVersion: v1
kind: Service
metadata:
  labels:
    app: nextcloud
  name: nextcloud
spec:
  ports:
  - name: 443-tcp
    port: 443
    protocol: TCP
    targetPort: 443
  selector:
    app: nextcloud
  sessionAffinity: None
  type: ClusterIP
