apiVersion: v1
kind: Service
metadata:
  labels:
    app: nextcloud
  name: nextcloud
spec:
  ports:
  - name: 80-tcp
    port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: nextcloud
  sessionAffinity: None
  type: ClusterIP
